{{! Maintainers - Stuart Nicholls}}
<div class="article-reveal-inner {{_articleReveal._classes}}" style="height:{{_articleReveal._height}}px; background: url('{{_articleReveal._backgroundImage}}') center top no-repeat;" role="region" aria-label="{{_articleReveal._ariaRegions.articleReveal}}">
	  <div class="article-reveal-content-container">
		  <div class="article-reveal-content-container-inner">
		    <div class="article-reveal-graphic-container">
		  		<div class="article-reveal-graphic"></div>
		  	</div>
		  	<div class="article-reveal-text-container">
			  	<div class="article-reveal-text-container-title">{{_articleReveal._revealTitle}}</div>
			  	<div class="article-reveal-text-container-body">{{_articleReveal._revealBody}}</div>
		  	</div>
			  	<a href="#" class="article-reveal-open-button" style="top:{{_articleReveal._triggerPosition._top}}%; left:{{_articleReveal._triggerPosition._left}}%;" role="button" aria-label="{{_articleReveal._ariaLabels.openArticle}}">
					  <span class="article-reveal-open-button-text">{{_articleReveal._icon-text}}</span>
				</a>
		  </div>
	  </div>
</div>
 