<div class="la-certificate-inner block-inner">
	<div class="la-content-container">
		
		<div class="begin-instructions">
			<div class="begin-instructions-inner">
				<h4 class="title">{{{settings._certificate.title}}}</h4>
				<div class="body"><span class="score">{{{settings._certificate.youScored}}} {{{data.scoreAsPercent}}}</span>{{{settings._certificate.body}}}</div>
			</div>
		</div>
	
		<div class="la-content">
			<div class="certificateLaunch component">
				<div class="wrapper">
					<img id="background-image" src="{{settings._certificateGraphics._imageURL}}" class="hidden"/>
					<div class='wrapper' class="hidden">
						<div class="canvas-text hidden"><!-- used to grab the CSS style. remove hidden to for style --></div>
						<div class="canvas-container hidden"></div>
						<div class="image-container hidden"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>