<div class="results-inner component-inner">
    {{#if title}}
    <div class="results-title component-title">
        <h4 class="results-title-inner component-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="results-body component-body">
        <div class="results-body-inner component-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
    {{#if feedbackMessage}}
    <div class="results-feedback component-feedback">
        <div class="results-feedback-inner component-feedback-inner">
            {{{feedbackMessage}}}
        </div>
    </div>
    {{/if}}
    {{#if _associatedLearning}}
    <div class="results-associatedLearning component-associatedLearning">
        <div class="results-associatedLearning-inner component-associatedLearning-inner">
            <ul>
                {{#each _associatedLearning}}
                    {{#if ../_linkToAssociatedLearning}}
                        <a href="#" class="associatedLearning-link" data-id="{{id}}" data-type="{{type}}"><li>{{title}}</li></a>
                    {{else}}
                        <li>{{title}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}
</div>